<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automaticallyCheckForChanges</key>
	<true/>
	<key>draftFileFormat</key>
	<integer>0</integer>
	<key>draftPlainTextExtension</key>
	<string>md</string>
	<key>folderBookmarkData</key>
	<data>
	Ym9va2gEAAAAAAQQMAAAANRw2Am6YjVwiVIAE+6kegu8+eZgEH3Dv8jp+b1F6fX3lAMA
	AAcAAAABAQAAVm9sdW1lcwAMAAAAAQEAAE1hY2ludG9zaCBIRAUAAAABAQAAVXNlcnMA
	AAADAAAAAQEAAGx1YwAHAAAAAQEAAERyb3Bib3gABgAAAAEBAABQdWJsaWMAABYAAAAB
	AQAAVGhlSW1wZXJhdGl2ZVRvSGFza2VsbAAACQAAAAEBAABTaGFyZWRHaXQAAAADAAAA
	AQEAAHNyYwAGAAAAAQEAAE1kU3luYwAAKAAAAAEGAAAEAAAAFAAAACgAAAA4AAAARAAA
	AFQAAABkAAAAhAAAAJgAAACkAAAACAAAAAQDAAB1AAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAIAAAABAMAAKEAAAAAAAAACAAAAAQDAACi4RMAAAAAAAgAAAAEAwAAYuYVAAAAAAAI
	AAAABAMAAA0cGQAAAAAACAAAAAQDAACzfmQAAAAAAAgAAAAEAwAAPYNkAAAAAAAIAAAA
	BAMAAFODZAAAAAAACAAAAAQDAABRg2QAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQbdPLG4AAAAYAAAAAQIAAAIA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAIChj+gAAAAIAAAAAAQAAEG1I53J
	AAAAJAAAAAEBAAA5RjRBNjlGOS01NTA1LTNENTEtQTRDRS0wN0YzNzcxNDJFMkIYAAAA
	AQIAAIEAAAABAAgA7z8AAAEACAAAAAAAAAAAABUAAAABAQAAL1ZvbHVtZXMvTWFjaW50
	b3NoIEhEAAAAAwAAAAEBAABTU0QACAAAAAQDAAAAcCZQOwAAAAgAAAAABAAAQbWCZ0wA
	AAAkAAAAAQEAADQ1MzBERUIwLTc4QzQtMzk2NS05RkUwLTBDMjU0OUNCQjRBNwEAAAAB
	AQAALwAAAFQAAAD+////APAAAAAAAAAGAAAAAiAAAMgCAAAAAAAAECAAAHACAAAAAAAA
	ESAAAJwCAAAAAAAAEiAAAHwCAAAAAAAAEyAAAIwCAAAAAAAAICAAADACAAAAAAAABAAA
	AAMDAAAA8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAALAAAAAEGAAAwAwAAPAMAAEgD
	AAA8AwAAPAMAADwDAAA8AwAAPAMAADwDAAA8AwAAPAMAAAQAAAADAwAAAAgAKJwAAAD+
	////AQAAANQCAAAMAAAABBAAALQAAAAAAAAABRAAAIQBAAAAAAAAEBAAAMQBAAAAAAAA
	QBAAALQBAAAAAAAAACAAAFQDAAAAAAAAAiAAAFACAAAAAAAAECAAABQAAAAAAAAAESAA
	AAQCAAAAAAAAEiAAAOQBAAAAAAAAEyAAAPQBAAAAAAAAICAAADACAAAAAAAAENAAAIgD
	AAAAAAAA
	</data>
	<key>folderPath</key>
	<string>/Volumes/Macintosh HD/Users/luc/Dropbox/Public/TheImperativeToHaskell/SharedGit/src/MdSync</string>
	<key>importDestinationID</key>
	<integer>1</integer>
	<key>importShowsContainersOnly</key>
	<true/>
	<key>otherFileFormat</key>
	<integer>1</integer>
	<key>otherPlainTextExtension</key>
	<string>txt</string>
	<key>plainTextAddsParagraphPadding</key>
	<true/>
	<key>syncsDraftFolder</key>
	<true/>
	<key>syncsOnlyDocumentsInCollection</key>
	<false/>
	<key>syncsOtherTextFiles</key>
	<false/>
	<key>takesSnapshots</key>
	<true/>
	<key>usesFileNumbering</key>
	<true/>
</dict>
</plist>
